    <style>
        body {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
            background-color: #f0f2f5;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        form {
            background-color: #ffffff9a;
            padding: 20px 25px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 100%;
            max-width: 400px;
        }

        h2, p {
            text-align: center;
        }

        h2 {
            color: #1d2129;
        }

        p {
            color: #3e4c5f;
            margin-bottom: 20px;
        }

        input[type="text"],
        input[type="email"],
        input[type="tel"],
        input[type="password"],
        textarea,
        select {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            margin-bottom: 15px; 
            border: 1px solid #dddfe2;
            border-radius: 6px;
            box-sizing: border-box;
        }


        input[type="radio"] {
            margin-right: 5px;
        }

        .gender-options {
            margin-bottom: 15px;
        }

        button {
            width: 100%;
            padding: 12px;
            background-color: #1877f2; 
            color: white;
            border: none;
            border-radius: 6px;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
        }

        button:hover {
            background-color: #264e83; 
        }
    </style>